// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

// Set your brand colors
$purple: #a59ad7;
$pink: #Fe76c2;
$blue:#4b3ca0;
$light-red:#fff3f3;
$light:#f3dfe2;
$red:#c92039;
$green:#0bf387;

// Update Bulma's global variables
$family-sans-serif: "Nunito", sans-serif;

$primary: $purple;
$link: $blue;


// Update some of Bulma's component variables
$body-background-color:$light;
$control-border-width: 2px;
$input-border-color: transparent;
$input-background-color:#f3f5fa;
$input-shadow: none;





// global styles


html, body {
    height: 100%;

    // Set the default font size to 18px
    font-size: 18px !important;

    overflow: hidden !important;
}